<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="artee-item">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        height: 100%;
        @apply(--layout-vertical);
      }
      #header {
        padding: 8px 4px;
        border-right: 1px dotted var(--divider-color);
      }
      #image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        text-decoration: none;
        color: var(--text-primary-color);
      }
      #rating {
        min-width: 24px;
        margin: 8px;
        padding: 4px 8px;
        font-size: 12px;
        background-color: var(--text-primary-color);
        color: var(--accent-color);
        border-radius: 4px;
        text-align: right;
        @apply(--shadow-elevation-2dp);
      }
      #rating iron-icon {
        --iron-icon-width: 12px;
        --iron-icon-height: 12px;
      }
      #name {
        @apply(--paper-font-caption);
        font-weight: bold !important;
      }
      #distance {
        @apply(--paper-font-caption);
      }
    </style>
    <div class="layout vertical flex">
      <div id="header" class="layout horizontal">
        <span id="name" class="flex">[[name]]</span>
        <span id="distance">[[distance]]</span>
      </div>
      <a class="flex layout vertical" id="image" href="[[link]]">
          <div class="layout horizontal-reverse flex">
            <span id="rating" class="self-end">
              <iron-icon icon="editor:mode-comment"></iron-icon>
              [[comments]]
              <iron-icon icon="icons:favorite"></iron-icon>
              [[rating]]
            </span>
          </div>
      </a>
    </div>
  </template>

  <script>
    (function() {
      'use strict';
      
      Polymer({
        is: 'artee-item',

        properties: {
          name: String,
          distance: String,
          comments: {
            type: Number,
            value: 0
          },
          rating: {
            type: Number,
            value: 0
          },
          preview: {
            type: String,
            observer: '_onPreviewChanged'
          },
          id: {
            type: String,
            observer: '_onLinkChanged'
          }
        },
        
        _onPreviewChanged: function() {
          this.$.image.style.backgroundImage = 'url(' + this.preview + ')';
        },
        
        _onLinkChanged: function() {
          this.$.image.href = '/artee/' + this.id;
        }
      });
    })();
  </script>

</dom-module>
