<dom-module id="artee-details-navigation">
	<template>
		<paper-tabs attr-for-selected="data-route" selected="{{route}}">
			<paper-tab class="flex" data-route="map">
				<iron-icon icon="icons:explore">
			</paper-tab>

			<paper-tab data-route="addComment" class="flex">
				<iron-icon icon="communication:chat-bubble">
			</paper-tab>
		</paper-tabs>
	</template>
	<script>
		Polymer({
			is: 'artee-details-navigation',
			properties:{
				route: {
					type: Object,
					observer: '_onNavigate' }	
			},
			_onNavigate: function(newValue, oldValue){
				page('/' + newValue);
			}
		});
	</script>
</dom-module>