<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="artee-user">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        height: 100%;
        overflow: hidden;
        @apply(--layout-vertical);
      }
      #header {
        padding: 16px;
        padding-bottom: 0;
        color: var(--text-primary-color);
        background-color: var(--default-primary-color);
      }
      #avatar {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        margin: 8px;
      }
      #names {
        margin: 8px;
      }
      #name {
        @apply(--paper-font-title);
      }
      #handle {
        @apply(--paper-font-subhead);
      }
      #about {
        @apply(--paper-font-body1);
        margin: 8px;
      }
      iron-pages {
        overflow: auto;
      }
    </style>

    <iron-ajax
        id="userQuery"
        handle-as="json"
        last-response="{{user}}"
        method="GET">
    </iron-ajax>
    <iron-ajax
        id="userArteeQuery"
        handle-as="json"
        last-response="{{artees}}"
        method="GET">
    </iron-ajax>
    <iron-ajax
        id="userCommentsQuery"
        handle-as="json"
        last-response="{{comments}}"
        method="GET">
    </iron-ajax>

    <div id="header" class="layout vertical">
      <paper-icon-button class="navigate-back" icon="arrow-back" on-click="_onNavigateBack" title="Back"></paper-icon-button>
      
      <div class="layout horizontal">
        <img id="avatar" src="[[user.avatarUri]]" />
        <div id="names" class="layout vertical flex self-center">
          <span id="name">[[user.name]]</span>
          <span id="handle">@[[user.handle]]</span>
        </div>
      </div>
      
      <div id="about">[[user.Bio]]</div>
      <paper-tabs attr-for-selected="data-tab" selected="{{tab}}" nobar>
        <paper-tab data-tab="artees" class="flex">Artees</paper-tab>
        <paper-tab data-tab="comments" class="flex">Comments</paper-tab>
      </paper-tabs>
    </div>
    
    <iron-pages class="flex" attr-for-selected="data-tab" selected="{{tab}}">
      <section data-tab="artees">
        <artee-items items="{{artees}}"></artee-items>
      </section>
      <section data-tab="comments">
        <artee-comments comments="{{comments}}"></artee-comments>
      </section>
    </iron-pages>
  </template>

  <script>
    (function() {
      'use strict';
      
      Polymer({
        is: 'artee-user',

        properties: {
          handle: {
            type: String,
            observer: '_onHandleChanged'
          },
          user: {
            type: Object,
            notify: true
          },
          tab : {
            type: String,
            value: 'artees'
          },
          artees: {
            type: Array,
            notify: true
          },
          comments: {
            type: Array,
            notify: true
          },
        },
        
        _onNavigateBack: function(){
          window.history.back();
        },
        
        _onHandleChanged: function()
        {
          this.$.userQuery.url = 'https://artee.azurewebsites.net/api/user/' + this.handle;
          this.$.userQuery.generateRequest();
          this.$.userArteeQuery.url = this.$.userQuery.url + '/artees';
          this.$.userArteeQuery.generateRequest();
          this.$.userCommentsQuery.url = this.$.userQuery.url + '/comments';
          this.$.userCommentsQuery.generateRequest();
        },
        
        ready: function() {
          this.comments = [
            { username: 'Lego', handle: 'Lego', useravatar: 'https://randomuser.me/api/portraits/lego/0.jpg', content: 'Another brick in the wall!' },
            { username: 'Woman', handle: 'Woman', useravatar: 'https://randomuser.me/api/portraits/women/51.jpg', content: 'We don\'t need no education!' }
          ];
        }
      });
    })();
  </script>

</dom-module>
