<dom-module id="artee-auth-menu">
	<template>
		<style>
			#userimage img {
				border-radius: 50%;
				height: 32px;
				width: 32px;
				margin: 0px 20px;
			}
		</style>
		<iron-ajax id="userAjax" url="https://artee.azurewebsites.net/api/auth/whoami" method="GET" handle-as="json" last-response={{user}}></iron-ajax>
		<div class="layout horizontal dropdown-content">
			<artee-auth id="auth" on-signed-in="_onSignedIn" 
						google-client-id="607112014001-hbnhkdfkjle5l8mgv48tb9ttqie4igfi.apps.googleusercontent.com"
						is-authenticated="{{googleSignedIn}}" 
						hidden="{{googleSignedIn}}" bearer-token="{{token}}"></artee-auth>
			<div id="userimage" class="layout horizontal" hidden="{{!googleSignedIn}}" >
				<img src={{user.avatarUri}}></img>
			</div>
		</div>

	</template>
	<script>
		Polymer({
			is: 'artee-auth-menu',
			properties:{
				user: Object
			},
			
			_onSignedIn: function(){
				var x = this.$.auth.bearerToken;
				var req = this.$.userAjax;
				req.headers['Authorization'] = 'Bearer ' + x;
				req.generateRequest();
			}
			
		});
	</script>
</dom-module>