<dom-module id="artee-photo-uploader">

	<template>
		<style>
			:host {
				height: 100%;
				width: 100%;
				display: block;
				margin: 16px 0px;
			}.hidden {
				height: 0px;
				width: 0px;
				background: yellow;
				visibility: hidden
			}
		</style>
		<div class="horizontal layout center">
			<paper-button raised on-click="capturePhoto">Capture Photo</paper-button>
			<paper-button raised on-click="ulpoadImage">Upload Image</paper-button>
			<input class="hidden" type="file" name="File" id="fileInput" on-change="handleChange">
		</div>
	</template>

	<script>
		Polymer({
			is: 'artee-photo-uploader',
			properties:
			{ 
				image: {
					type: Image,
					notify: true},
				imageToDisplay: {
					type: Image,
					notify: true},
				imageFileName: {
					type: String,
					notify: true}
			},
			
			ulpoadImage: function(){
				this.$.fileInput.click();
		},
		
		handleChange: function(e) {
			var file = e.target.files[0];
			var reader = new FileReader();
			reader.onload = function(ev){
				this.image = file;
				this.imageFileName = file.name;
				this.imageToDisplay =  ev.target.result;
				this.fire('upload-success');
			}.bind(this);
			
			reader.readAsDataURL(file);
		},
		
		capturePhoto: function() {
      		
			navigator.camera.getPicture(
				this.onPhotoDataSuccess, 
				this.onFail, 
				{ quality: 50, destinationType: Camera.DestinationType.DATA_URL });
		},
     
		created: function()
		{
			this.onPhotoDataSuccess = function(imageData) {
				this.image = 'data:image/jpeg;base64,' + imageData;
				this.fire('upload-success');
			}.bind(this);
		
			this.onFail = function(message) {
				this.fire('upload-error');
			}.bind(this);
		}
		});
	</script>

</dom-module>