<link rel="import" href="artee-details-navigation.html">

<dom-module id="artee-details">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        height: 100%;
        overflow: hidden;
      }      
      .main {
        height: 100%;
      }
      .navigate-back {
        color: white;
      }
      #header {
        padding: 16px;
        color: var(--text-primary-color);
        background-color: var(--default-primary-color);
        @apply(--shadow-elevation-2dp);
      }
      #name {
        margin-left: 16px;
      }
      #rating {
        @apply(--paper-font-button);
        margin: 8px;
      }
      #description {
        @apply(--shadow-elevation-2dp);
        padding: 16px;
      }
      #commentsheader {
        padding: 8px 16px;
      }
      .image-container {
        height: 25%;
        overflow: hidden;
      }
      .image-container-overlay {
        position: absolute;
        z-index: 30000000;
      }
      .image-item {
        width: 100%;
      }
      #detailscontainer {
        overflow: auto;
      }
      paper-dialog {
        width: 90%;
      }
      paper-dialog paper-button {
        color: var(--accent-color);
      }
    </style>
    
    <iron-ajax
        id="query"
        handle-as="json"
        last-response="{{item}}"
        method="GET">
    </iron-ajax>

    <div class="main layout vertical">
      <div id="header" class="layout horizontal">
        <paper-icon-button class="navigate-back" icon="arrow-back" on-click="_onNavigateBack" title="Back"></paper-icon-button>
        <div id="name" class="layout vertical flex">
          <span class="paper-font-title">[[item.artee.name]]</span>
          <span class="paper-font-subhead">[[item.artee.place.place_name]]</span>
        </div>
        <div id="rating" class="self-center">
          [[item.artee.rating]]
          <iron-icon icon="icons:favorite"></iron-icon>
        </div>
      </div>

      <div class="image-container layout horizontal" on-click="_onNavigateToGallery">
        <div class="image-container-overlay">
        </div>
        <iron-image class="image-item flex" src="{{firstPhoto(item.artee.photos)}}" sizing="cover"></iron-image>
      </div>

      <div class="flex" id="detailscontainer">
        <div id="description" class="layout horizontal">
          <div class="layout vertical flex">
            <div class="paper-font-body1">[[item.artee.description]]</div>
            <div class="paper-font-caption">Uploaded by <a href="/user/[[item.artee.submitter.handle]]">[[item.artee.submitter.name]]</a></div>
          </div>
          <paper-icon-button icon="maps:map" on-click="_onNavigateBack" title="Show on map"></paper-icon-button>
          <paper-icon-button icon="editor:insert-comment" on-click="_onShowCommentBox" title="Add comment"></paper-icon-button>
        </div>
        
        <paper-dialog id="commentDialog" modal>
          <h2>Add Comment</h2>
          <paper-textarea label="Comment" value="{{newcomment}}" autofocus></paper-textarea>
          <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm on-click="_addComment">Add Comment</paper-button>
          </div>
        </paper-dialog>
      
        <span id="commentsheader" class="paper-font-caption">Comments</span>
        <artee-comments comments="{{item.comments}}"></artee-comments>
      </div>
    </div>
  </template>

  <script>
    (function() {
      'use strict';
      
      Polymer({
        is: 'artee-details',
        properties: {
          id: {
            type: String,
            observer: '_onIdChanged'
          },
          item: {
            type: Object,
            notify: true
          },
          newcomment: {
            type: String,
            notify: true
          }
        },
        
        firstPhoto: function(photos) {
          return photos[0].mini_image_uri;
        },
        
        _onNavigateToGallery: function(){
          page('/artee/' + this.id + '/gallery/');
        },
        
        _onNavigateBack: function(){
          window.history.back();
        },
        
        _onShowCommentBox: function() {
          this.$.commentDialog.open();
        },
        
        _addComment: function() {
          //TODO: this.comments = [{ content: this.newcomment }]
        },
        
        _onIdChanged: function()
        {
          this.$.query.url = 'https://artee.azurewebsites.net/api/artee/' + this.id;
          this.$.query.generateRequest();
        }
      });
    })();
  </script>

</dom-module>