<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="artee-comment">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }      
      #container {
        padding: 4px;
      }      
      #userimage img {
        border-radius: 50%;
        height: 48px;
        width: 48px;
      }
      #username {
        @apply(--paper-font-caption);
        color: var(--accent-color);
        text-decoration: none;
      }
      #contentpanel {
        margin-left: 8px;
      }
      #content {
        @apply(--paper-font-body1);
      }
    </style>
    <div class="layout horizontal" id="container">
      <div id="userimage">
        <img src="[[useravatar]]" />
      </div>
      <div class="layout vertical" id="contentpanel">
        <div class="layout horizontal">
          <span class="flex">
            <a href="/user/[[handle]]" id="username">[[username]]</a>
          </span>
        </div>
        <div id="content"><content></content></div>
      </div>
    </div>
  </template>

  <script>
    (function() {
      'use strict';
      
      Polymer({
        is: 'artee-comment',

        properties: {
          userAvatar: String,
          userName: String,
          userLink: String,
          handle: String
        }
      });
    })();
  </script>

</dom-module>
