<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-signin/google-signin.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="artee-auth">
  <template>
   <style include="shared-styles"></style>
    <style>
      /*.authButton{
        background: #4285f4;
        color: #fff;
      }      */
    </style>
    
    <iron-localstorage id="storage" name="application-localstorage-bearerToken" value="{{bearerToken}}"></iron-localstorage>
        
    <google-signin-aware id="googleAuth" client-id="{{googleClientId}}" offline on-google-signin-offline-success="_handleGoogleSuccess"></google-signin-aware>
    <iron-ajax id="authRequest" url="https://artee.azurewebsites.net/api/auth/loginExternal" method="POST" content-type="application/json"
        handle-as="text" on-response="_handleAuthenticateCompleted"></iron-ajax>
    
    <div class="authBox">

      <template is="dom-if" if="{{!isAuthenticated}}">
        <div class="providersBox">
          <span><paper-button class="authButton" on-click="_handleGoogleClick" >Sign in</paper-button></span>
        </div>
      </template>

      <template is="dom-if" if="{{isAuthenticated}}">
        <div>
          <paper-button class="authButton" on-click="_handleSignOutClick">Sign out</paper-button>
        </div>
      </template>

    </div>
    
  </template>

  <script>
    (function() {
      'use strict';
      
      Polymer({
        is: 'artee-auth',

        properties: {
          googleClientId : String,
          bearerToken : {
            type: String,
            notify: true,
            readOnly: true 
          },
          isAuthenticated : {
            type: Boolean,
            notify: true,
            readOnly: true 
          }
        },
        
        ready: function(){
          this.$.storage.reload();
        },
        
        attached: function(){
          this.$.storage.reload();
          this._setIsAuthenticated( !(! this.bearerToken || this.bearerToken.length === 0));
          
        },
        
        _handleGoogleSuccess: function(response){
           this._authenticate('google', response.detail.code, 'postmessage');
        },
        
        _authenticate: function(provider, accessCode, redirectUri){
            if(this.isAuthenticated) return;
            var authRequest = this.$.authRequest;
            authRequest.body = { provider:provider, accessCode: accessCode, redirectUri : redirectUri };
            authRequest.generateRequest();
        },
        
        _handleAuthenticateCompleted: function(data){
           this._setBearerToken(data.detail.response);
           this._setIsAuthenticated(true);
           this.fire('signed-in');
        },
        
        _handleGoogleClick: function(){
           this.$.googleAuth.signIn();
        },
        
        _handleSignOutClick: function(){
            this._setBearerToken('');
            this._setIsAuthenticated(false);
            this.fire('signed-out');
        }
        
      });
    })();
  </script>

</dom-module>