<dom-module id="artee-main-navigation">
	<template>
		<style>
			paper-dialog {
				width: 90%;
			}
			
			paper-dialog paper-button {
				color: var(--accent-color);
			}
		</style>
		<div class="horizontal layout">
		<paper-icon-button icon="maps:map" class="flex" on-click="switchView" hidden="[[mapView]]">map</paper-icon-button>
		<paper-icon-button icon="icons:list" class="flex" on-click="switchView" hidden="[[!mapView]]">list</paper-icon-button>
		<!--<paper-icon-button icon="search" class="flex"></paper-icon-button>-->
		<paper-icon-button icon="maps:local-see" class="flex" on-click="uploadArtee">add</paper-icon-button>
		</div>
		<!--<paper-tabs attr-for-selected="data-route" selected="{{route}}">
			<paper-tab class="flex">
				<iron-icon icon="maps:map" on-click="switchView"></iron-icon>
			</paper-tab>
			<paper-tab data-route="search" class="flex">
				<iron-icon icon="search"></iron-icon>
			</paper-tab>
			<paper-tab data-route="add" class="flex">
				<iron-icon icon="maps:local-see"></iron-icon>
			</paper-tab>
		</paper-tabs>-->
		
		<paper-dialog id="ArteeUploadDialog" modal>
			<artee-upload></artee-upload>
		</paper-dialog>

		
	</template>
	
	<script>
		Polymer({
			is: 'artee-main-navigation',
			properties:{
				route: {
					type: Object,
					observer: '_onNavigate' },
				mapView: {
					type: Boolean,
					notify: true,
					value: false,
				}	
			},
			switchView: function() {
				this.mapView = !this.mapView;
			},
			_onNavigate: function(newValue, oldValue){
				page('/' + newValue);
			},
			uploadArtee: function() {
				 this.$.ArteeUploadDialog.open();
			},
		});
	</script>
</dom-module>