<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="artee-comments">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }
      artee-comment:not(:first-child) {
        border-top: 1px solid var(--divider-color);
      }
      artee-comment {
        padding: 8px;
      }
    </style>
    <div id="container">
      <template is="dom-repeat" items="[[comments]]">
        <artee-comment username="[[item.submitter.name]]" useravatar="[[item.submitter.avatarUri]]" handle="[[item.submitter.handle]]">
          [[item.content]]
        </artee-comment>
      </template>
    </div>
  </template>

  <script>
    (function() {
      'use strict';
      
      Polymer({
        is: 'artee-comments',
        properties: {
          comments: Array
        }
      });
    })();
  </script>

</dom-module>
