<dom-module id="artee-details-gallery">
	<template>
		<style>
			.image-container {
				@apply(--layout-relative);
				height: 600px;
			}
			.image-item {
				width: 1980px;
				height: 600px;
			}
			.gallery-navigation {
				@apply(--layout-flex);
				background: transparent;
				color: wheat;
			}
			.image-container-overly {
				@apply(--layout-fit);
				@apply(--layout-horizontal);
				position: absolute;
				height: 600px;
				z-index: 30000000;
			}
			.navigate-back {
				position: absolute;
				top: 0;
				left: 0;
				color: var(--primary-text-color);
				margin: 16px;
			}
		</style>
		
		<iron-ajax
			id="photosQuery"
			handle-as="json"
			last-response="{{item}}"
			method="GET">
		</iron-ajax>

		<div class="image-container">
			<div class="image-container-overly">
				<paper-icon-button class="navigate-back" icon="arrow-back" on-click="_onNavigateBack"></paper-icon-button>
				<div class="gallery-navigation horizontal layout" on-click="_onPrevImage">
					<iron-icon class="self-center" icon="image:navigate-before">
				</div>
				<div class="gallery-navigation horizontal-reverse layout" on-click="_onNextImage">
					<iron-icon class="self-center" icon="image:navigate-next">
				</div>
			</div>
			<neon-animated-pages id="pages" class="fit" selected="[[selected]]" entry-animation="fade-in-animation" exit-animation="fade-out-animation">
				<template is="dom-repeat" items="{{item.artee.photos}}">
					<neon-animatable class="horizontal layout flex">
						<iron-image class="image-item" src="[[item.image_uri]]" sizing="contain">
					</neon-animatable>
				</template>
			</neon-animated-pages>
		</div>
	</template>
	<script>
		Polymer({
			is: 'artee-details-gallery',
			properties: {
				id: { 
					type: String,
					observer: '_onIdChanged'
				},
				item: {
					type: Object,
					notify: true
				}
			},
		    _onIdChanged: function()
			{
				this.$.photosQuery.url = 'https://artee.azurewebsites.net/api/artee/' + this.id;
          		this.$.photosQuery.generateRequest();
				this.selected = 0;
			},			
			_onPrevImage: function() {
				this.selected = this.selected === 0 ? (this.item.artee.photos.length-1) : (this.selected - 1);
			},	  
			_onNextImage: function() {
				this.selected = this.selected === (this.item.artee.photos.length-1) ? 0 : (this.selected + 1);
			},
			_onNavigateBack: function(){
          		window.history.back();
        	},
		});
	</script>
</dom-module>