<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="artee-items">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }      
      artee-item {
        width: 25%;
        height: 250px;
      }
      @media all and (min-width: 841px) and (max-width: 1280px) {
        artee-item {
          width: 33.333333%;
        }
      }      
      @media all and (min-width: 481px) and (max-width: 840px) {
        artee-item {
          width: 50%;
        }
      }      
      @media all and (min-width: 0) and (max-width: 480px) {
        artee-item {
          width: 100%;
        }
      }
    </style>
          
    <div id="container" class="layout horizontal wrap">
      <template is="dom-repeat" items="[[items]]">
        <artee-item
          name="[[item.name]]"
          distance="[[item.distance]]"
          rating="[[item.rating]]"
          comments="[[item.commentsCount]]"
          preview="[[_arrayItem(item.photos.*, 0, 'mini_image_uri')]]"
          id="[[item.id]]">
        </artee-item>
      </template>
    </div>
  </template>

  <script>
    (function() {
      'use strict';
      
      Polymer({
        is: 'artee-items',
        
        properties: {
          items: Array
        },
        
        _arrayItem: function(change, index, path) {
          return this.get(path, change.base[index]);
        }
      });
    })();
  </script>

</dom-module>
