<dom-module id="artee-map">
	<template>
		<style>
			google-map {
				height: 600px;
			}
		</style>
		
		<google-map id="arteeMap" click-events="true" singleInfoWindow="true" apiKey="AIzaSyDluH8gJOHOTpDubY3hLbFc77Up5CcR0Cg">
			<google-map-marker id="currentLocationMarker" icon="/images/current-marker.png">
			</google-map-marker>
			
			<template is="dom-repeat" items="[[locations]]">
				<google-map-marker latitude="[[item.latitude]]" longitude="[[item.longitude]]" icon="/images/marker.png"
					animation="DROP" click-events="true" on-google-map-marker-click="showArteeDetails" />
			</template>
			<artee-card></artee-card>
		</google-map>
	</template>
	
	<script>
		(function() {
			'use strict';
			
			Polymer({
				is: 'artee-map',
				properties: {
					locations: {
						type: Array,
						notify: true
					},
					artees: {
						type: Array,
						notify: true
					},
					selectedArtee: {
						type: Object,
						value: undefined,
						notify: true,
					},
				},
				ready: function() {
					this.artees = [];					
					
					var self = this;
					var currentPositionReceived = function (position) {
						self._setCurrentLocation(position.coords.latitude, position.coords.longitude);
					};
					var error = function() {
						setTimeout(function() { self._geocodeAddress('Warszawa'); }, 2000);
					};
					
					navigator.geolocation.getCurrentPosition(currentPositionReceived, error);
				},
				showArteeDetails: function(e) {
					document.querySelector('artee-card').show(e.model.item);
					this.selectedArtee = e.model.item;
				},
				_setCurrentLocation: function(latitude, longitude) {
					var currentLocationMarker = this.$.currentLocationMarker;
					var map = this.$.arteeMap;

					map.latitude = latitude;
					map.longitude = longitude;
					currentLocationMarker.latitude = latitude;
					currentLocationMarker.longitude = longitude;
				},
				_geocodeAddress: function(address) {
					var geocoder = new google.maps.Geocoder();
					var self = this;
					geocoder.geocode({'address': address}, function(results, status) {
						if (status === google.maps.GeocoderStatus.OK) {
							var location = results[0].geometry.location;
							self._setCurrentLocation(location.lat(), location.lng());
						} else {
							alert('Geocode was not successful for the following reason: ' + status);
						}
					});
				}
			});
		})();
	</script>
	
</dom-module>