<link rel="import" href="artee-main-navigation.html">
<dom-module id="artee-main">
    <template>
        <style>
            :host {
                height: 100%;
                overflow: hidden;
                @apply(--layout-vertical);
            }
            #main {
                overflow: auto;
            }
            #logo {
                width: 32px;
                height: 32px;
                margin-right: 16px;
                vertical-align: middle;
            }
        </style>
        <iron-ajax
            auto
            url="https://artee.azurewebsites.net/api/artees"
            handle-as="json"
            last-response="{{arteeResponse}}"
            method="GET">
        </iron-ajax>

        <iron-media-query query="(min-width: 600px)" query-matches="{{wide}}"></iron-media-query>
            
        <paper-toolbar>
            <img src="../../images/logo.png" id="logo" />
            <div class="top paper-font-title flex">
                ARTEE
            </div>
            <div class="layout horizontal center">
                <artee-main-navigation hidden="{{!wide}}" map-view="{{mapView}}"></artee-main-navigation>     
                <artee-auth-menu ></artee-auth-menu>
            </div>      
        </paper-toolbar>
        
        <template is="dom-if" if="{{!mapView}}">
        <div class="flex" id="main">
            <artee-items items="[[arteeResponse]]"></artee-items>
        </div>
        </template>
        
        <template is="dom-if" if="{{mapView}}">
            <artee-map locations="[[arteeResponse]]"></artee-map>
        </template>

        <artee-main-navigation hidden="{{wide}}"></artee-main-navigation>
    </template>

    <script>
        Polymer({
            is: 'artee-main',
            properties: {
                mapView: {
                    value: false,
                    type: Boolean,
                    notify: true
                }
            }
        });
    </script>

</dom-module>