<dom-module is="artee-localization-uploader">

	<template>

	</template>

	<script>
		Polymer({
		is: 'artee-localization-uploader',
		properties:{
			Latitude: { type: String, value: 'nan' },
			Longitude: { type: String, value: 'nan' },
			Accuracy: { type: String, value: 'nan' }
		},
		
		attached: function()
		{
			navigator.geolocation.getCurrentPosition(this.geolocationSuccess, this.geolocationError);
		},
		
		onGetLocalization: function()
		{
			navigator.geolocation.getCurrentPosition(this.geolocationSuccess, this.geolocationError);
		},
		
		created: function()
		{
			this.geolocationSuccess = function(position){
				this.Latitude = position.coords.latitude;
				this.Longitude = position.coords.longitude;
				this.Accuracy = position.coords.accuracy;
				this.fire('upload-success');
			}.bind(this);
			
			this.geolocationError = function(error){
				this.fire('upload-failure');	
			};
		}
	});
	</script>

</dom-module>