<dom-module id="artee-card">
	<template>
		<style>
			:host {
				display: none;
				--paper-card-header: {
					height: 100px;
					overflow: hidden;
					cursor: pointer;
				};
				--paper-card-header-color: #f1f1f1;
				--paper-card-header-image-text: {
					text-shadow: 0px 3px 6px #000;
					background-color:rgba(0,0,0,0.2);
					width: 100%;
				};
			}
		</style>
		
		<paper-card heading="[[artee.name]]" image="{{firstPhoto(artee.photos)}}" elevation="2" class="marker-details" on-click="_onDetailsOpen">
			<div class="card-content">
				<div >[[artee.description]]</div>
			</div>
			<div class="card-actions">
				<!--<paper-icon-button icon="favorite" style="color: red;"></paper-icon-button>-->
				<paper-icon-button icon="close" on-click="hide" style="float: right"></paper-icon-button>
			</div>
		</paper-card>
	</template>
	
	<script>
		(function() {
			'use strict';
			
			Polymer({
				is: 'artee-card',
				behaviors: [
					Polymer.NeonAnimationRunnerBehavior
				],
				properties: {
					opened: {
						type: Boolean,
						value: false,
					},
					artee: {
						type: Object,
						value: undefined,
						notify: true,
					},
					animationConfig: {
						value: function() {
							return {
								'entry': [
									{
										name: 'fade-in-animation',
										node: this
									}
								],
								'exit': {
									name: 'fade-out-animation',
									node: this
								}
							};
						}
					}
				},
				listeners: {
					'neon-animation-finish': '_onNeonAnimationFinish'		
				},
				firstPhoto: function(photos) {
					return photos[0].mini_image_uri;
				},
				show: function(artee) {
					this.opened = true;
					this.artee = artee;
					this.style.display = 'inline-block';
					this.cancelAnimation();
					this.playAnimation('entry');
				},
				hide: function() {
					this.opened = false;
					this.playAnimation('exit');
					event.stopPropagation();
				},
				
				_onDetailsOpen: function()
				{
					page('/artee/' + this.artee.id);
				},
				
				_onNeonAnimationFinish: function() {
					if (!this.opened) {
						this.style.display = 'none';
						this.artee = null;
					}
				}
			});
    	})();
	</script>
</dom-module>