<dom-module id="artee-upload">
	<template>
		<style>
			:host{
				display: block;
			}
			
			iron-image {
				display: block;
				height: 300px;
				width: 300px;
			}
			
			paper-input {
				color: black;
			}
		</style>

		<h2>Share Artee</h2>

		<iron-localstorage id="storage" name="application-localstorage-bearerToken" value="{{bearerToken}}"></iron-localstorage>
		<iron-ajax id="arteeRequest" url="https://artee.azurewebsites.net/api/artee" method="POST" content-type="application/json"
		handle-as="text" on-response="_onResponse"></iron-ajax>
		<artee-localization-uploader id="localization"></artee-localization-uploader>
		<artee-photo-uploader hidden={{imageready}} image="{{image}}" image-to-display="{{imageToDisplay}}" image-file-name="{{imageFileName}}" on-upload-success="_onImageUploadSuccess" on-upload-failure="_onImageUploadFailure"></artee-photo-uploader>

		<paper-input label="Name" value="{{name::input}}"></paper-input>
		<paper-input label="Description" value="{{description::input}}"></paper-input>
		<div class="horizontal layout">
			<iron-image src="[[imageToDisplay]]" sizing="cover" preload fade flex></iron-image>
		</div>

		<div class="buttons">
			<paper-button dialog-dismiss>Cancel</paper-button>
			<paper-button dialog-confirm on-click="_onSubmit">Artee</paper-button>
		</div>

	</template>
	<script>
		Polymer({
			is: 'artee-upload',
			properties: {
				imageready: {
					type: Boolean,
					notify: true,
					value: false
				},
				image: {
					type: Image,
					notify: true
				},
				
				imageToDisplay: {
					type: Image,
					notify: true
				},
				
				imageFileName: {
					type: String,
					notify: true
				},
				name: String,
				description: String,
				longnitude: String,
				latitude: String
			},
			
			ready: function()
			{
				this.uploadData={};
			},
			
			_onSubmit: function()
			{
				this.uploadData={};
				this.uploadData.longitude = this.$.localization.Longitude;
				this.uploadData.latitude = this.$.localization.Latitude;
				this.uploadData.description = this.description;
				this.uploadData.name = this.name;
				this.uploadData.place ={place_name:'',place_description:''};
					
				var x = this.$.storage.value;
				
				var request = this.$.arteeRequest;
				request.headers['Authorization'] = 'Bearer ' + x;
				request.body = this.uploadData;
				request.method = "POST";
				request.generateRequest();
			},
			
			_onResponse: function(data){
				var fd = new FormData();
				fd.append('artee_id', data.detail.response);
				fd.append('filename', this.imageFileName);
				fd.append('file', this.image);
				
				var xhr = new XMLHttpRequest();
				xhr.open("POST", 'https://artee.azurewebsites.net/api/artee/photo');
				xhr.setRequestHeader('Authorization', 'Bearer ' + this.$.storage.value)
       			xhr.send(fd);
			},
			
			_onImageUploadSuccess: function()
			{
				this.imageready = true;
				
				// this.uploadData.photosx = 'a';
				// this.uploadData.photos = [{
				// 	"image_uri": this.image	
				// }];
			},
			
			_onImageUploadFailure: function()
			{
				this.imageready = false;
			},
			
			
		});
	</script>
</dom-module>

<!--{
   
   "name" : "Inny mural",
   "longitude" : 30.5,
   "latitude" : 21.5,
   "place" : {
       "place_name" : "Łódź, Trauguta",
       "place_description" : "y",
   },
   
   "description" : "Inny",
   
   "photos" : [
       {
       "image_uri" : "https://joelartista.files.wordpress.com/2014/07/ohio-project-jericho-mural.jpg?w=900",
       "mini_image_uri" : "https://joelartista.files.wordpress.com/2014/07/ohio-project-jericho-mural.jpg?w=900"},
       
        {
       "image_uri" : "https://upload.wikimedia.org/wikipedia/commons/5/5c/Arthur_Rubinstein_mural,_%C5%81%C3%B3d%C5%BA_Sienkiewicza_%26_Traugutta_Streets.jpg",
       "mini_image_uri" : "https://upload.wikimedia.org/wikipedia/commons/5/5c/Arthur_Rubinstein_mural,_%C5%81%C3%B3d%C5%BA_Sienkiewicza_%26_Traugutta_Streets.jpg"}
   ]
   
}-->