<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    // Middleware
    function scrollToTop(ctx, next) {
      // app.scrollPageToTop();
      next();
    }

    // Routes
    page('/', scrollToTop, function() {
      app.route = 'home';
    });

    //main
    page('/map', scrollToTop, function() {
      app.route = 'map';
    });
        
    page('/add', scrollToTop, function() {
      app.route = 'add';
    });

    page('/search', scrollToTop, function() {
      app.route = 'search';
    });
    
    //details
    page('/artee/:id', scrollToTop, function(data) {
      app.route = 'artee';
      app.params = data.params;
    });
    
     page('/artee/:id/gallery', scrollToTop, function(data) {
      app.route = 'arteegallery';
      app.params = data.params;
    });
    
    //user    
    page('/user/:handle', scrollToTop, function(data) {
      app.route = 'user';
      app.params = data.params;
    });

    // add #! before urls
    page({
      hashbang: true
    });
    
    page({
      dispatch: false
    });
    
    page('/');

  });
</script>
