/*
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.root{
 height: 100%; 
}
.marker-details {  
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 400px;
}

@media all and (min-width: 841px) and (max-width: 1280px) {
  .marker-details {
    width: 400px !important;
  }
}      
@media all and (min-width: 0) and (max-width: 840px) {
  .marker-details {
    width: 200px;
  }
}      