<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ARTEE</title>
  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="ARTEE">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="ARTEE">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDluH8gJOHOTpDubY3hLbFc77Up5CcR0Cg&signed_in=true"></script>

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endreplace-->

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>
  
</head>

<body unresolved class="fullbleed layout vertical">
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">
        
    <iron-pages attr-for-selected="data-route" selected="{{route}}" class="root">
      <section data-route="home" class="root">
        <artee-main></artee-main>
      </section>
      <section data-route="artee" class="root">
        <artee-details id="{{params.id}}"></artee-details>
      </section>
      <section data-route="arteegallery" class="root">
        <artee-details-gallery id="{{params.id}}"></artee-details-gallery>
      </section>
      <section data-route="user" class="root">
        <artee-user handle="{{params.handle}}"></artee-user>
      </section>
      <section data-route="add" class="root">
        <artee-upload></artee-upload>
      </section>
      <section data-route="map" class="root">
        <artee-map></artee-map>
      </section>
      <section data-route="search" class="root">
        search
      </section>
    </iron-pages>

  </template>
  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>